body {
   background-image: url("/phpmotors/images/site/checkerboard.jpg");
   background-size: 45%
}

h1, h2, h4 {
   padding-left: 15px;
}

.content {
   border: 3px solid #4c96d7;
   border-radius: 5px;
   margin-left: 6%;
   margin-right: 6%;
   background-color: white;
   font-family: monospace;
}

#serverError {
   padding-left: 10px;   
}
#serverError h1, p{
   margin: 0;
}

hr {
   border-top: 3px solid gray;
}

.active {
   background-color: #4c96d7;
   padding: 11px;
   color: black
}

#banner {
   display: flex;
   justify-content: space-between;
}

#cookie-name {
   text-align: center;
   margin: auto;
   font-family: 'Times New Roman', Times, serif;
}

#banner a {
   padding: 15px;
   font-size: .8em;
   color: #524d4d;
   border: none;
   text-decoration: none;
}

#logo {
   width: 25%;
}

#nav {
   display: flex;
   justify-content: left;
   background-color: #3a3a3a;
   padding: 10px;
}

#nav a { 
   color: white;
   padding: 10px;
   text-decoration: none;
   font-family: 'Times New Roman', Times, serif;
}

#nav a:hover {
   background-color: #4c96d7;
   padding: 15px;
}

#divider {
   border-top: 5px solid gray;
}

#carImg {
   width: 60%;
}

#dmcDelorean {
   padding-left: 30px;
   color: #276ca8;
}

#dmcDelorean h3 { 
   margin: 0px;
}
#dmcDelorean button {
   background-color: #4c96d7;
   color: #202020;
   border: 1px solid ;
   padding: 15px;

}
footer {
   font-size: 75%;
   text-align: center;
   margin: auto;
}

#doubleFlex {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
}

#upgrades img {
   background-color: #4c96d7;
   width: 25%;
   padding: 5px;
   padding-left: 60px;
   padding-right: 60px;
}
#upgrades section{
   display: flex;
   justify-content: space-evenly;
}

#upgrades section div {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: space-evenly;
   text-align: center;
}
p {
   padding-left: 15px;
}

/* -------Login | forms flex -----------*/
#formContainer {
   padding: 1.2em;
}
#formContainer form{
   display: flex;
   flex-direction: column;
   max-width: 25%;
}

#formContainer form input {
   margin-top: .2em;   
}

#formContainer h3 {
   margin: 0%;
   margin-top: .7em;
}

#login {
   background-color: #4c96d7;
   margin-bottom: .7em;
}

/*------------END--------------------*/
/* -------Register | forms -----------*/
#regForm , h3, input{
   margin: 0%;
}

#regForm {
   padding: 1.2em;
}

#regForm label {
   display: flex;
}

#clientPassword {
   margin-bottom: .7em;
}

#showPass {
   border: none;
   background-color: #3a3a3a;
   color: white;
   padding: 5px;
}

#signUp {
   border: none;
   background-color: #4c96d7;
   color: black;
   padding: 5px;
}

/* Start of Vehicles -> Add vehicle----- */

.addVehicle {
   display: flex;
   flex-direction: column;
   max-width: 20%;
   padding-left: 15px;
}

#addVehicle {
   background-color: #4c96d7;
   margin-top: .7em;
}

option:disabled {
   color: red;
}

/* ------------------------------------- */
.server-valadation {
   color: red;
}
/* ------Start add classification------- */

.addClassification {
   display: flex;
   flex-direction: column;
   max-width: 20%;
   padding-left: 15px;
}
#addClassification {
   margin-top: .7em;
   background-color: #4c96d7;
}


.password-error {
   color: red;
}

/* Vehicle management */
#classificationList, #inventoryDisplay, #account-info a {
   margin-left: 15px;
}

/* updateAccount view */
.updateClient-info, .updateClient-password {
   display: flex;
   flex-direction: column;
   max-width: 20%;
   padding-left: 15px;
   padding-top: 15px;
}

/* classifications nav bar view */

.vehicle-heading {
   font-size: 140%;
}
#inv-display {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   list-style-type: none;
   justify-content: space-evenly;
   padding: 0px;
}

#inv-display li {
   margin: 10px;
   border: 1px solid;
   max-width: 40%;
}

.vehicle-image {
   max-width: 100%;
}

.vehicle-list-items {
   
   border: 1px solid;
   border-radius: 5px;
}

.vehicle-list-items img{
   
   border-radius: 5px;
}

.vehicle-list-items div {
   display: flex;
   justify-content: space-evenly;
}

.vehicle-list-items h2 {
   text-align: center;
   padding: 0px;
   margin: 5px;
}


.vehicle-price {
   font-size: 110%;
   margin-bottom: 80px;
   position: relative;
   bottom: 0;
}

/* vehicle detaild view */

.detailed-view h1{
   text-align: center;
}

.vehicle-detail {
   display: flex;
   flex-direction: column;
}

.vehicle-large-image {
  height: 200px;
}

.vehicle-data {
   text-align: center;
   padding-left: 25px;
   padding-right: 25px;
}

.secondary-image {
   height: 100px;
   padding: 5px;
}

.secondary-image:hover {
   height: 150px;
   transition: 0.5s;
}