body {
   background-image: url("../images/site/checkerboard.jpg");
   background-size: 45%
}

.content {
   border: 3px solid #4c96d7;
   border-radius: 5px;
   margin-left: 6%;
   margin-right: 6%;
   background-color: white;
   font-family: serif;
}

#serverError {
   padding-left: 10px;   
}
#serverError h1, p{
   margin: 0;
}

hr {
   border-top: 3px solid gray;
}
nav a:hover {
   background-color: #4c96d7;
   padding: 11px;
}
.active {
   background-color: #4c96d7;
   padding: 11px;
   color: black
}

#logo {
   width: 25%;
}
#banner {
   display: inline;
}
#account {
   float: right;
   margin: 0;
   font-size: 70%;
   color: #202020;
   padding: 5px;
   text-align: left;
}
#nav ul {
   background-color: #3a3a3a;
   list-style-type: none;
   padding: 10px;
}
#nav li {
   display: inline;
}
#nav li a {
   color: white;
   text-decoration: none;
   font-size: 80%;
   margin-left: 5px;
   margin-right: 5px;
}
#divider {
   border-top: 5px solid gray;
}

#carImg {
   width: 60%;
}

#dmcDelorean {
   padding-left: 30px;
   color: #4c96d7;
}

#dmcDelorean h3 { 
   margin: 0px;
}
#dmcDelorean button {
   background-color: #4c96d7;
   color: #202020;
   border: 1px solid ;
   padding: 15px;

}
footer {
   font-size: 75%;
   text-align: center;
   margin: auto;
}

#doubleFlex {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
}

#upgrades img {
   background-color: #4c96d7;
   width: 25%;
   padding: 5px;
   padding-left: 60px;
   padding-right: 60px;
}
#upgrades section{
   display: flex;
   justify-content: space-evenly;
}

#upgrades section div {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: space-evenly;
   text-align: center;
}